<%- include('../../layout/admin/header') %>


    <% if (users.length) { %>
        <%- include('../../layout/admin/generalManagement') %>
            <div class="col">
                <table class="table table-dark table-hover  box">
                    <thead>
                        <tr>
                            <th scope="col">Number</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Verified</th>
                            <th scope="col">Status</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let count=1 %>
                            <% for (let user of users) { %>
                                <tr>
                                    <td>
                                        <%= count %>
                                    </td>
                                    <td>
                                        <%= user.firstName + " " + user.lastName %>
                                    </td>
                                    <td>
                                        <%= user.email %>
                                    </td>
                                    <td>
                                        <%= user.phone %>
                                    </td>

                                    <td>
                                        <%= user.isVerified %>
                                    </td>
                                    <td>
                                        <% if (user.status) { %>
                                            <select name="status" id="status" data-userId="<%= user._id %>">
                                                <option selected value="true"> Active</option>
                                                <option value="false"> Blocked</option>
                                            </select>
                                            <% } else { %>
                                                <select name="status" id="status" data-userId="<%= user._id %>">
                                                    <option selected value="false"> Blocked</option>
                                                    <option value="true"> Active</option>
                                                </select>
                                                <% } %>
                                    </td>
                                
                                    <td>
                                        <form action="/userDeleteRequest" method="post">
                                            <input type="hidden" name="id" value="<%= user._id %>">
                                            <button class="btn btn-outline-danger deleteButton" type="submit">Delete</button>
                                        </form>
            </div>

            </td>
            </tr>
            <% count++ %>
                <% } %>
                    </tbody>
                    </table>
                    </div>
                    </div>
                    </div>
                    <% } %>
                        <script src="/javaScript/admin/userManagement.js"></script>
                        <%- include('../../layout/admin/footer') %>