<%- include('../../layout/admin/header') %>
    <%- include('../../layout/admin/generalManagement') %>
        <div class="container w-75 ">
            <form action="/createBanner" method="post" enctype="multipart/form-data">
                <h1 class="text-white mb-3">Create Banner</h1>

                <% if(locals.brand.length) {%>

                    <select class="form-select w-25 mt-2 " id="brand" name="brandName">

                        <% locals.brand.forEach(brandName=> {%>
                            <option value="<%=brandName%>">
                                <%=brandName%>
                            </option>
                            <% }) %>
                    </select>
                    <% } else{%>
                        <input type="text" name="brandName" placeholder="brandName">
                        <% } %>

                            <br><input class="form-control w-25 " type="text" name="productName"
                                placeholder="productName" id="">
                            <br><input class="form-control w-25 " type="text" name="discription"
                                placeholder="discription" id="">
                            <br><input class="form-control w-25 " type="text" name="unitPrice" placeholder="unitPrice"
                                id="">
                            <br><input class="form-control w-25 " type="text" name="launchDate" placeholder="launchDate"
                                id="">
                            <br><input class="form-control w-25 " type="file" name="gallery" placeholder="images" id="">
                            <br><button class="btn w-25 btn-outline-secondary " type="submit">submit</button>
            </form>
        </div>
        <%- include('../../layout/admin/footer') %>