<%- include('../layout/user/header') %>
   <!-- brand bar -->
   <% locals.brands || '' %>
   <% if(locals.brands.length) {%>
       <div class="container">
           <div class="row text-white">
               <% locals.brands.forEach(brand=>{%>
                   <div class="banner col-2  p-4 rounded-4  m-3 mt-4  text-center ">
                       <form action="/digiWorld/user/brandPage" method="post">
                           <input class="fs-2 fw-bold nav-link " type="submit" name="brandName" value="<%=brand%>">
                       </form>

                   </div>

                   <%}) %>
                       <hr class="mt-3 ">
           </div>
       </div>
       <% } %>

           <!-- filter and product -->
           <div class="container-fluid">
               <div class="row">
                   <!-- filter -->
                   <div class="col-2 filter rounded-1 text-center text-white ">
                       <% if(locals.brands.length) {%>
                           <h5 class="mt-2 ">Brand</h5>

                           <form class="text-start " id="brands" action="/digiWorld/user/brandsfilter"
                               method="POST">
                               <% locals.brands.forEach(brand=>{%>
                                   <label class="form-check-label">
                                       <input class="form-check-input" type="checkbox" name="brand"
                                           value="<%=brand%>">
                                       <%=brand%>
                                   </label><br>
                                   <% }) %>
                                       <button type="submit" class="btn btn-secondary mt-2 ">Submit</button>
                                       <hr>
                           </form>
                           <% } %>
                   </div>
                   <!-- products-->
                   <% locals.filterProducts || "" %>
                       <% if(locals.filterProducts.length) {%>
                           <div class="col-9">
                               <div class="container">
                                   <div class="row align-items-center mt-5 text-white ">
                                       <% locals.filterProducts.forEach(product=>{%>
                                           <!-- product image -->
                                           <div class="col-4">
                                               <img src="\image\phone" alt="phone" srcset="">
                                           </div>
                                           <!-- product data -->
                                           <div class="col-6">
                                               <form action="/digiWorld/user/brandPage" method="post">
                                                   <input class="fs-2 fw-bold nav-link " type="submit"
                                                       name="brandName" value="<%=product.brandName%>">
                                               </form>
                                               <h5><span>
                                                       <%=product.specification.ram%>
                                                   </span> | <span>
                                                       <%=product.specification.internalStorage%>
                                                   </span> | <span>expandable upto
                                                       1
                                                       tb</span>
                                               </h5>
                                               <h4>display</h4>
                                               <h5><span>
                                                       <%=product.specification.frontCamera%>
                                                   </span> | <span>
                                                       <%=product.specification.backCamera%> front camera
                                                   </span> </h5>
                                               <h5>
                                                   <%=product.specification.battery%> Lithium iron battery
                                               </h5>
                                               <h5>
                                                   <%=product.specification.processor%>
                                               </h5>

                                               <% if(product.quantity < 10 && product.quantity> 0) {%>
                                                   <h5>instock : <span class="text-warning ">Left Only
                                                           <%=product.quantity %>
                                                       </span> </h5>
                                                   <% } else if(product.quantity < 1){%>
                                                       <h5 class="text-danger ">out of stock </h5>
                                                       <% } else{ %>
                                                           <h5 class="text-success  ">instock </h5>
                                                           <% } %>
                                           </div>
                                           <!-- product price -->
                                           <div class="col-2">
                                               <h5 class="text-success ">
                                                   <%= Intl.NumberFormat('en-IN', { style: 'currency' ,
                                                       currency: 'INR' , minimumFractionDigits: 0
                                                       }).format(product.unitPrice) %>

                                               </h5>
                                           </div>

                                           <hr class="mt-5 ">
                                           <%}) %>

                                   </div>
                               </div>
                           </div>
                           <% } %>


               </div>
           </div>

 <%- include('../layout/user/footer') %>

