<%- include('../../layout/admin/header') %>
    <%- include('../../layout/admin/generalManagement') %>
        <div class="container">
            <!-- <div class="row vh-100 justify-content-start  align-items-start">
            <div class="col-4"> -->




            <form action="createProduct" method="post" enctype="multipart/form-data">

                <div class="d-flex">
                    <div class="one mt-3 ">

                        <% locals.existingProduct || "" %>
                            <% if(locals.existingProduct) {%>
                                <h6 class="text-danger ">
                                    <%=locals.existingProduct %>
                                </h6>
                                <% } %>
                                    <% if(locals.brand.length) {%>

                                        <select class="form-select w-75 mt-2 " id="brand" name="brandName">

                                            <% locals.brand.forEach(brandName=> {%>
                                                <option value="<%=brandName%>">
                                                    <%=brandName%>
                                                </option>
                                                <% }) %>
                                        </select><br>
                                        <% } else{%>
                                            <input type="text" name="brandName" placeholder="brandName"><br>
                                            <% } %>

                                                <input class="form-control w-75 " type="text" name="productName"
                                                    placeholder="productName" id="productName"><br>

                                                <input class="form-control w-75 " type="text" name="quantity"
                                                    placeholder="quantity" id="quantity"><br>
                                                <input class="form-control w-75 " type="text" name="unitPrice"
                                                    placeholder="unitPrice"><br>
                                                <input class="form-control w-75 " type="file" name="gallery"
                                                    placeholder="gallery" multiple><br>
                                                <textarea rows="4" cols="50" class="form-control w-75 "
                                                    name="discription" placeholder="discription">discription </textarea>
                                                <br>
                                                <input class="form-control w-75 " type="text" name="frontCamera"
                                                    placeholder="frontCamera"><br>

                    </div>
                    <div class="two mt-4">


                        <input class="form-control w-100 " type="text" name="backCamera" placeholder="backCamera"><br>
                        <input class="form-control w-100 " type="text" name="ram" placeholder="ram"><br>
                        <input class="form-control w-100 " type="text" name="internalStorage"
                            placeholder="internalStorage"><br>
                        <input class="form-control w-100 " type="text" name="battery" placeholder="battery"><br>
                        <input class="form-control w-100 " type="text" name="processor" placeholder="processor"><br>
                        <input class="form-control w-100 " type="text" name="chargerType" placeholder="chargerType"><br>
                        <input class="btn w-75 btn-outline-secondary " type="submit" value="submit">

                    </div>
                </div>
            </form>


            <!-- </div>
        </div> -->
        </div>
        <%- include('../../layout/admin/footer') %>